/* head */
.headImg{
    height: 150px;
}

.headText{
    position: absolute;
    left: 179px;
    top: 4px;
    font-size: 50px;
}

/* body */
body {
    background-color: #00B2FF;
}

/* homePage */
/* .homeForm{
    display: flex;
    justify-content: center;
} */

.homeFormInput{
    width: 340px;
    height: 30px;
    font-size: 20px;

    margin-top: 150px;
    margin-right: 10%;

    background-color: #FFF344;
    display: flex;
    justify-content: center;
}

.flexCenter{
    display: flex;
    justify-content: center; 
} 

.homeButton{
    position: absolute;


    width: 600px;
    height: 100px;

    top: 400px;
    /* left: 28%; */
    margin-left: -10%;
    /* margin-right: 28%; */
    font-size: 24px;
}
      
.buttonTransition:hover {background-color: #EAD949}
    
.buttonTransition:active {
    background-color: #F3E990;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
} */

.WrongZipText{
    position: absolute;
    font-size: 30px;
    background-color: red;
    margin-left: 30.5%;
}

/* 10dayWeatherPage */

.tenDayWeatherMainDiv{
    display: flex;
    justify-content: space-around;

    margin-top: 80px;
}

.tenDayWeatherSmallDiv{
    border: white solid 5px;
    text-align: center;
    width: 250px;
    height: 410px;
}

.tenDayWeatherDate{
    font-size: 24px;
}

.tenDayWeathIcon{
    width: 110px;
}

.tenDayWeatherCondition{
    font-weight: 700;
}

.oneDayWeatherZipButton{
    position: absolute;

    top: 32px;
    left: 572px;

    width: 150px;
    height: 100px;

    font-size: 14px;
    font-weight: 700;

}

.buttonTransition{
    background-color: yellow;
    border: solid black 2.3px;

    padding: 15px 25px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
  
.buttonTransition:hover {background-color: #EAD949}
    
.buttonTransition:active {
    background-color: #F3E990;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/* links */

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.tenDayLinkToOneDayWeather:hover {
    background-color: #0E459B;
}

a:active {
    text-decoration: underline;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: white;
}

a:active {
    color: black;
}

/* oneDayWeatherPage */

.oneDayMainDiv{
    display: flex;
}

.OneDayMappedMainDiv{
    margin: 40px;
    text-align: center;
    border: white 5px solid;
    width: 150px;
    height: 410px;
}

.oneDayIcon{
    width: 155px;
    margin-top: 10px;
}

.oneDayTime{
    font-size: 30px;
}

.oneDayMainText{
    font-weight: 700;
}

.oneDayMainButton{
    position: absolute;
    top: 35px;
    left: 565px;

    height: 100px;
    width: 107px;
    font-weight: 600;
    font-size: 13px;

    background-color: yellow;
    border: solid black 2.3px;

    padding: 15px 25px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;

    border-radius: 15px;
    box-shadow: 0 5px #999;
}

.oneDayMainDate{
    font-size: 30px;
    font-weight: 900;
    margin-left: 30px;
}

/* moble  */

/* moble home page  */
@media screen and (max-width: 1000px) {
    /* body and head */
    body{
        background-color: aqua;
    }

    .headImg{
        display: none;
    }
    
    .headText{
        position: absolute;
        left: 0px;
        top: 4px;
        font-size: 50px;
        text-align: center; 
        width: 100%;
    }

    /* home page  */
    
    .homeFormInput{
        margin-top: 200px;
        margin-right: 0%;
    }
    
    .homeButton{
        position: absolute;
        width: 450px;
        top: 340px;
    }   
    
    /* ten day page */

    .tenDayWeatherMainDivHeadDiv{
        display: flex;
        justify-content: center;
        margin-right: 15%;
    }

    .tenDayWeatherMainDiv{
        display: flex;
        flex-direction: column;
        width: 255px;
        align-content: center;
        margin-left: 20%;
    
        margin-top: 110px;
    }

    .tenDayLinkToOneDayWeather:hover {
        background-color: #0E459B;
    }

    .mobleMargin{
        border-top: 55px #00B2FF solid;
    }

    .TenDayZipButtonDiv{
        display: flex;
        justify-content: center;
    }
    
    .oneDayWeatherZipButton{
        position: relative;
        top: 110px;
        left: 2%;
        width: 464px;
        height: 65px;
        font-size: 15px;
    }

    /* one day weather page */
    .oneDayMainDiv{
        display: flex;
        flex-direction: column;
    }

    
    .oneDayMainDivHeadDiv{
        display: flex;
        justify-content: center;
        
        margin-top: 124px;
    }
    
    .oneDayMainButton{
        position: absolute;
        top: 130px;
        left: 94px;
        height: 58px;
        width: 319px;
    }
    /* all done ^ */
    
    .oneDayMainDate{
        font-size: 30px;
        font-weight: 900;
        margin-left: 30px;
    }
}
